.add-comment {
  background: white;
  display: flex;
  flex-direction: row;
  max-width: 700px;
  height: 200px;
  padding: 2rem;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  align-items: flex-start;

  &__avatar {
    border-radius: 50%;
    height: 64px;
  }

  &__texarea {
    flex-grow: 1;
  }

  &__button {
    flex-basis: 20%;
  }
}
